<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="book_name" placeholder="Book_name" >
    <br>
    <br>
    <select name="category" required>
        <option value="">-----</option>
        <option value="FICTION">FICTION</option>
        <option value="ENGINEERING">ENGINEERING</option>
        <option value="SCIFI">SCIFI</option>
    </select>
    <br>
    <br>
    <input type="file" name="image" placeholder="image">
    <br>
    <br>
    <input type="text" name="author" placeholder="Author">
    <br>
    <br>
    <input type="number" name="price" placeholder="Price">
    <br>
    <br>
    <input type="checkbox" name="status" value="True">
    <br>
    <br>
    <button type="submit">Save</button>
   </form> 
</body>
</html>